<div class="contenedor">
	<form action="" id="formulario" class="formulario">
		<input type="text" id="link" placeholder="Escribe el texto o URL" />
		<button class="btn">Generar QR</button>
	</form>

	<div id="contenedorQR" class="contenedorQR"></div>
</div>